<h1 style="color:rgb(46, 197, 177); background:rgb(9, 2, 36); text-align: center; font-weight:bold; font-size:70px">BIENVENIDOS ES HORA DE TOCAR</h1>

<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
            <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: turquoise;"></a>
            <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: limegreen;"></a>
            <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: Gold;"></a>
            <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: maroon;"></a>
            <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: tan;"></a>
            <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: olive;"></a>
            <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: salmon;"></a>
          </div>
    </div>
    
  <div class="col-lg-4">
      <div class="list-group">
          <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: yellowgreen;"></a>
          <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: gray;"></a>
          <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: black;"></a>
          <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: rebeccapurple;"></a>
        </div>
  </div>
</div>

  <!-- <audio controls>
    <source src="../assets/sonidos/note2.wav">
  </audio> -->